@using Nop.Plugin.Payments.PayPalMarketplace.Infrastructure;


<li class="customer-vendor-info">
    <a href="@Url.RouteUrl(RouteProvider.ONBOARDING)"
       class="@(Url.RouteUrl(ViewContext.RouteData.Values) == Url.RouteUrl(RouteProvider.ONBOARDING) ? "active" : "inactive")">
        @T("Plugin.Payments.PayPalMarketPlace.AccountNavPayPalIntegration")
    </a>
</li>