@using Nop.Plugin.Payments.PayPalMarketplace.Models;
@using Nop.Plugin.Payments.PayPalMarketplace;
@using System.Text.Encodings.Web
@using Nop.Core

@model OnBoardingModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}

@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = OnBoardingModel.CustomerNavigationOnBoarding })
}

<form asp-controller="OnBoarding" asp-action="OnBoard" method="post">
    <div class="page account-page customer-info-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Plugin.Payments.PayPalMarketPlace.AccountNavPayPalIntegration")</h1>
        </div>
        <div>@T("Plugin.Payments.PayPalMarketPlace.OnBoarding.Consent")</div>
        <div class="page-body">
            <input type="submit" name="save" class="btn bg-primary" value="@T("Plugin.Payments.PayPalMarketPlace.OnBoarding.Onboard")" />
        </div>
    </div>
</form>