@using Nop.Plugin.Payments.StripeConnect.Models;
@using Nop.Plugin.Payments.StripeConnect;
@using Nop.Plugin.Payments.StripeConnect.Infrastructure;

@model Nop.Plugin.Payments.StripeConnect.Models.PaymentInfo;

@{
    Layout = "";
     Html.AddScriptParts(ResourceLocation.Footer, Javascripts.StripeV3, excludeFromBundle: true);

}
@inject StripeConnectPaymentSettings _settings;


<script>
    $(document).ready(function () {

        var submitForm = false;
        var errorsExist = false;
        var stepBack = false;
        $('.payment-info-next-step-button').attr('onclick', null);

        // Create a Stripe client.
        var stripe = Stripe('@_settings.PublishableKey');


        var elements = stripe.elements({
            // Stripe's examples are localized to specific languages, but if
            // you wish to have Elements automatically detect your user's locale,
            // use `locale: 'auto'` instead.
            locale: 'auto'
        });

        var card = elements.create('card', {
            iconStyle: 'solid',
            style: {
                base: {
                    iconColor: '#c4f0ff',
                    color: '#fff',
                    fontSize: '16px',
                    fontSmoothing: 'antialiased',

                    ':-webkit-autofill': {
                        color: '#fce883',
                    },
                    '::placeholder': {
                        color: '#87BBFD',
                    },
                },
                invalid: {
                    iconColor: '#FFC7EE',
                    color: '#FFC7EE',
                },
            },
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        function getToken() {
            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                    errorsExist = true;

                } else {
                $('#@Html.IdFor(model => model.Token)').val(result.token.id);

                submitForm = true;
                $('input.payment-info-next-step-button').trigger("click");


                }
            });

        }

        $('input.payment-info-next-step-button').on('click', function (data) {
            if (!submitForm) {
                if (!errorsExist && !stepBack) {
                    getToken();
                }

                return false;
            }
            else {
                submitForm = false;
                PaymentInfo.save();

            }
        });

        $(document).on('accordion_section_opened', function (data) {
            if (data && (data.currentSectionId == 'opc-billing' || data.currentSectionId == 'opc-shipping' || data.currentSectionId == 'opc-shipping_method' || data.currentSectionId == 'opc-payment_method')) {
                stepBack = true;
            }
        });
    });

</script>

<div class="form-row">
    <label for="card-element" style="font-weight:bold;color:#fff;font-size:16px;">
        @T("Plugin.Payments.StripeConnect.PaymentInfo.PayWithCard")
    </label>
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
</div>
<input type="hidden" asp-for="Token">